html {
    min-height: 100%;
}

body {
    color: #000000;
    background: #eeeeee;
    font-family: "Arial", "Helvetica", sans-serif;

    font-size: 1em;
    line-height: 1.5em;
    min-height: 100%;
}

#content {
    width: 700px;
    margin: 16px auto;
}

.pkg:after {
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
}
.pkg { display: inline-block; }

.activity {
    position: relative;

    background: #ffffff;
    color: #000000;
    margin: 2em 0;
    min-height: 82px;

    -webkit-box-shadow: -5px 5px 20px #ccc;
    -moz-box-shadow: -5px 5px 20px #ccc;
    box-shadow: -5px 5px 20px #ccc;
}

.activity .whyline {
    background: #fffb95;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;

    font-size: 0.8em;
}

.activity .whyline p {
    margin: 0;
    padding: 0;
}

.activity .title {
    font-weight: normal;
    margin: 0;
}

.activity .title a:link,
.activity .title a:hover,
.activity .title a:visited,
.activity .title a:focus,
.activity .title a:active {
    color: inherit;
    text-decoration: none;
}
.activity .title a:hover,
.activity .title a:focus,
.activity .title a:active {
    text-decoration: underline;
}

.activity .whyline a:link,
.activity .whyline a:hover,
.activity .whyline a:visited,
.activity .whyline a:focus,
.activity .whyline a:active,
.activity .footer a:link,
.activity .footer a:hover,
.activity .footer a:visited,
.activity .footer a:focus,
.activity .footer a:active {
    color: inherit;
}

.activity .whyline img {
    width: 20px;
    height: auto;
    vertical-align: middle;
    border-radius: 3px;
}

.activity .activity-actor {
    width: 50px;
    height: auto;
    border-radius: 5px;
    -moz-border-radius: 5px;

    position: absolute;
    left: -40px;
}

.activity .activity-content {
    padding: 16px;
}

.activity .footer {
    font-size: 0.8em;
    color: #999;
}

.activity h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}
.activity .byline {
    margin: 0;
    font-size: 0.9em;
    color: #222222;
}

