html {
    min-height: 100%;
}

body {
    color: #000000;
    background: #eeeeee;
    font-family: "Arial", "Helvetica", sans-serif;

    font-size: 1em;
    line-height: 1.5em;
    min-height: 100%;
}

#content {
    width: 700px;
    margin: 16px auto;
}

.pkg:after {
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
}
.pkg { display: inline-block; }

.item {
    position: relative;

    background: #ffffff;
    color: #000000;
    margin: 20px 0;
    min-height: 82px;

    border-radius: 5px;
    -moz-border-radius: 5px;
}

.item .whyline {
    background: #fffb95;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;

    font-size: 0.8em;
}

.item .whyline p {
    margin: 0;
    padding: 0;
}

.item .title {
    font-weight: normal;
    margin: 0;
}

.item .title a:link,
.item .title a:hover,
.item .title a:visited,
.item .title a:focus,
.item .title a:active {
    color: inherit;
    text-decoration: none;
}
.item .title a:hover,
.item .title a:focus,
.item .title a:active {
    text-decoration: underline;
}

.item .whyline a:link,
.item .whyline a:hover,
.item .whyline a:visited,
.item .whyline a:focus,
.item .whyline a:active,
.item .footer a:link,
.item .footer a:hover,
.item .footer a:visited,
.item .footer a:focus,
.item .footer a:active {
    color: inherit;
}

.item .whyline img {
    width: 20px;
    height: auto;
    vertical-align: middle;

    border: 2px solid white;
    -webkit-box-shadow: 0px 0px 2px #000;
    -moz-box-shadow: 0px 0px 2px #000;
    box-shadow: 0px 0px 2px #000;
}

.item .item-body {
    position: relative;
}

.item .author {
    line-height: 0;

    background: white;
    border: 5px solid white;
    border-width: 5px 5px 10px 5px;
    -webkit-box-shadow: 0px 0px 4px #666;
    -moz-box-shadow: 0px 0px 4px #666;
    box-shadow: 0px 0px 4px #666;

    position: absolute;
    left: -50px;
    top: 20px;
}

.item .author img {
    width: 50px;
    height: auto;
    z-index: 1;
}

.item .author span {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: 2;

    -webkit-box-shadow: inset 0px 0px 6px #666;
    -moz-box-shadow: inset 0px 0px 6px #666;
    box-shadow: inset 0px 0px 6px #666;
}

.item .item-content {
    padding: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.item-has-whyline .item-content {
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
}

.item .footer {
    font-size: 0.8em;
    color: #999;
}

.item h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}
.item .byline {
    margin: 0;
    font-size: 0.9em;
    color: #222222;
}


/* item styles */

.item .item-content-status {
    padding: 0;
}

.item-content .status-shade {
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.item-content .status {
    background: white;
    padding: 10px;

    border-radius: 5px;
    -moz-border-radius: 5px;
}

.item-content .status .summary {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    line-height: 1.2em;
}
