html { min-height: 100%; }

body {
    font-size: 1em;
    line-height: 1.5em;
    min-height: 100%;

    background-color: #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
    background-image: -moz-linear-gradient(left, right, from(#eee), to(#ddd));
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#eee, endColorstr=#ddd, GradientType=0);
}

#content {
    width: 820px;
    margin: 0 auto;
}

.post {
    background-color: white;
    position: relative;
    margin: 0;
    width: 760px;
    padding: 20px;
    -webkit-box-shadow: -5px 5px 20px #ccc;
    -moz-box-shadow: -5px 5px 20px #ccc;
    box-shadow: -5px 5px 20px #ccc;

    overflow: visible;
    margin: 30px 0;
}

.post-header {
    margin: 0 0 0.25em;
    padding: 0;
}

.post-header a:link, .post-header a:hover, .post-header a:visited, .post-header a:active {
    color: inherit;
    border-width: 0;
    background-color: transparent;
    text-decoration: none;
}

.post-header a:hover, .post-header a:active {
    text-decoration: underline;
}

.post-footer {
    border: 0 solid #e7e7e7;
    border-top-width: 1px;
    color: #999;

    margin: 10px 0 0;
    padding: 5px 0 0;
    font-size: 0.8em;
}

.post-content { position: relative; }
.post-content p { margin: 10px 0; }

.post-content a:link, .post-content a:hover, .post-content a:visited, .post-content a:active, .post-content a:focus {
    background-color: #d3ff99;
    border: 1px solid #d3ff99;
    color: inherit;
    text-decoration: none;
}
.post-content a:hover, .post-content a:active {
    text-decoration: underline;
}

.post-content blockquote, .post-content div.highlight {
    margin: 10px 40px;
}

.post-content blockquote p {
    font-size: 0.9em;
    line-height: 1.5em;
    margin: 1em 0;
}

.post-content blockquote:before, .post-content div.highlight:before,
.post-content blockquote:after, .post-content div.highlight:after {
    display: inline-block;
    position: absolute;
    font-size: 5em;
    font-weight: bold;
    color: #eee;
}
.post-content blockquote:before, .post-content div.highlight:before {
    left: -5px;
    content: "“";
    margin: 20px 0 0 0;
}
.post-content blockquote:after, .post-content div.highlight:after {
    right: 0;
    content: "”";
    margin-top: -20px;
}
