<html>
<head>
<title>Aggregator</title>
</head>
<body>

    {% for activity in activities %}
        {% if activity.object %}
            <div class="activity" id="activity-{{ asset.uniq_hash }}">
                {% if activity.actor %}
                    {% if activity.actor.image_url %}
                        <div class="userpic"><img src="{{ activity.actor.image_url }}" style="max-width: 50px; max-height: 50px;"></div>
                    {% endif %}
                {% endif %}
                <div class="activity-content">
                <h2><a href="{{ activity.object.permalink_url }}">{{ activity.object.name }}</a></h2>
                <p class="byline">
                  {% if activity.actor %}
                    {% ifequal activity.verb "post" %}
                        By
                    {% else %}
                        {% ifequal activity.verb "share" %}
                            Shared by
                        {% else %}
                            {% ifequal activity.verb "favorite" %}
                                Added as a favorite by
                            {% else %}
                                From
                            {% endifequal %}
                        {% endifequal %}
                    {% endifequal %}
                      <a href="{{ activity.actor.permalink_url }}">{{ activity.actor.name }}</a>
                  {% endif %}
                  {% if activity.target %}
                      in <a href="{{ activity.target.permalink_url }}">{{ activity.target.name }}</a>
                  {% endif %}
                </p>

                {% if activity.object.image_url %}
                    <p class="image"><img src="{{ activity.object.image_url }}" style="max-width: 500px; max-height: 300px;"></p>
                {% endif %}

                <p class="summary">{{ activity.object.summary|striptags }}</p>
                </div>
            </div>
        {% endif %}
    {% endfor %}


</body>
</html>

