{% extends "publisher/base.html" %}

{% block htmltitle %}{% spaceless %}
    {% if asset.title %}
        {{ asset.title }} &middot;
    {% endif %}
    {{ block.super }}
{% endspaceless %}{% endblock %}

{% block content %}

    <div class="post" id="post-{{ asset.pk }}">
        <h2 class="post-header">
            <a href="{% url publisher-asset slug=asset.slug %}">{{ asset.title }}</a>
        </h2>

        <div class="post-content">
            {% autoescape off %}{{ asset.content }}{% endautoescape %}
        </div>

        <div class="post-footer">
            {{ asset.published }}
        </div>
    </div>

{% endblock %}
