{% extends "publisher/base.html" %}

{% block htmltitle %}{% spaceless %}
    {% if asset.title %}
        {{ asset.title }} &middot;
    {% endif %}
    {{ block.super }}
{% endspaceless %}{% endblock %}

{% block content %}

    {% include "publisher/bits/asset.html" %}

    {% for comment in asset.display_replies %}
        {% if forloop.first %}
        <div id="comments" class="comments">
            <h3 class="comments-header">Comments</h3>
        {% endif %}

        {% include "publisher/bits/comment.html" %}

        {% if forloop.last %}
        </div>
        {% endif %}
    {% endfor %}

{% endblock %}
