<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <title>{% block htmltitle %}hi{% endblock %}</title>
    {% block htmlhead %}
        <link rel="stylesheet" type="text/css" href="{% url publisher-static path="css/reset.css" %}">
        <link rel="stylesheet" type="text/css" href="{% url publisher-static path="css/text.css" %}">
        <link rel="stylesheet" type="text/css" href="{% url publisher-static path="css/style.css" %}">
    {% endblock %}
</head><body>

    <div id="content">

        {% block content %}{% endblock %}

    </div>

    <div id="footer">
        <ul class="footer-list pkg">
            <li class="footer-list-item"><a href="{% url publisher-index %}">Home</a></li>
            <li class="footer-list-item">This is Giraffe</li>
        </ul>
    </div>

</body></html>
