{% extends "publisher/base.html" %}

{% block content %}

    {% for asset in assets.object_list %}
        <div class="post" id="post-{{ asset.pk }}">
            <h2 class="post-header">
                <a href="{% url publisher-asset slug=asset.slug %}">{{ asset.title }}</a>
            </h2>

            <div class="post-content">
                {% autoescape off %}{{ asset.content }}{% endautoescape %}
            </div>

            <div class="post-footer">
                {{ asset.published }}
            </div>
        </div>
    {% endfor %}

    {% if assets.has_previous or assets.has_next %}
    <div class="pager">
        {% if assets.has_previous %}
        <span class="pager-left">
            <a href="{% url publisher-index-page page=assets.previous_page_number %}">
                <span class="chevron">&laquo;</span>
                <span class="pager-label">Newer</span>
            </a>
        </span>
        {% endif %}
        {% if assets.has_previous and assets.has_next %}
        <span class="separator">|</span>
        {% endif %}
        {% if assets.has_next %}
        <span class="pager-right">
            <a href="{% url publisher-index-page page=assets.next_page_number %}">
                <span class="pager-label">Older</span>
                <span class="chevron">&raquo;</span>
            </a>
        </span>
        {% endif %}
    </div>
    {% endif %}

{% endblock %}
