{% extends "publisher/base.html" %}

{% block htmltitle %}hi{% endblock %}

{% block content %}

    {% for asset in assets %}
        <div class="asset" id="asset-{{ asset.pk }}">
            <h2 class="asset-header">
                <a href="{% url publisher-asset slug=asset.slug %}">{{ asset.title }}</a>
            </h2>

            <div class="asset-content">
                {% autoescape off %}{{ asset.content }}{% endautoescape %}
            </div>

            <div class="asset-footer">
                {{ asset.published }}
            </div>
        </div>
    {% endfor %}

{% endblock %}
