{% extends "publisher/base.html" %}

{% block content %}

    {% for asset in assets %}
        <div class="post" id="post-{{ asset.pk }}">
            <h2 class="post-header">
                <a href="{% url publisher-asset slug=asset.slug %}">{{ asset.title }}</a>
            </h2>

            <div class="post-content">
                {% autoescape off %}{{ asset.content }}{% endautoescape %}
            </div>

            <div class="post-footer">
                {{ asset.published }}
            </div>
        </div>
    {% endfor %}

{% endblock %}
